<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <meta content="utf-8" http-equiv="encoding" />
  <title>Users manager</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="styles/vue-material.css" />
  <script type="text/javascript" src="libs/vue.js"></script>
  <script type="text/javascript" src="libs/vue-material.js"></script>
  <script type="text/javascript" src="libs/axios.js"></script>
  <script type="text/javascript" src="src/users-service.js"></script>
</head>

<body>
  <div id="app">

    <div class="title">Cars</div>

    <p style="text-align: center" v-if="cars.length == 0">No cars found</p>

    <ul class="user-list" v-if="cars.length > 0">
      <li>
        <div class="user-row-header">
          <div class="user-name">Name</div>
          <div class="user-city">Price</div>
        </div>
      </li>

      <li v-for="car in cars">
        <div class="">
          <a :href="'details.html?id='+car.id">{{ car.name }}</a>
          <span class=""><i>{{ car.price }}</i></span>
            <img v-bind:src="'http://127.0.0.1:8080/' + car.img"/>
          <button v-on:click="deleteCar(car.id)">Delete</button>
          <a :href="'update.html?id='+car.id" target="_self">Update</a>
        </div>
      </li>
    </ul>
  </div>
  <script src="src/app.js"></script>
</body>

</html>
